<!-- <nav class="navbar navbar-dark bg-dark">
    <span class="navbar-brand mb-0 h1">{{titulo}}</span>
    <span class="navbar-brand mb-0 h1">{{titulo}}</span>
  </nav> -->

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
    aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <a class="navbar-brand">{{titulo}}</a>
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <!-- <li class="nav-item">
          <a class="nav-link" routerLink="/peliculas/listado" >Película Listado</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/actor/listado" >Actor Listado</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/peliculas/alta" >Alta Película</a>
        </li> -->
      <li class="nav-item">
        <a class="nav-link" routerLink="/actor/alta">Alta Actor</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/actor/listado">Listado Actores</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/peliculas/alta">Alta Peliculas</a>
      </li>
    </ul>

  </div>
</nav>